body {
            font-family: Arial, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        img{
            width: 270px;
            position: absolute;
            top: 40px;
        }
        

        .container {
            background: white;
            width: 92%;
            max-width: 400px;
            padding: 30px;
            margin-top: 90px;
            border-radius: 12px;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 10px;
            position: relative;
            margin-top: -8px; 
        }

        p {
            text-align: center;
            margin-top: -5px;
            margin-bottom: 20px;
            color: #555;
        }

        input, select, button {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        button {
            background: #1b035e;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }


        button:hover {
            background: #110227;
        }

        
        #success-box {
            display: none;
            text-align: center;
        }

        #success-box h2 {
            color: rgb(0, 39, 194);
        }

        /*MOBILE VIEW*/
        @media (max-width: 370px) {
            input, select, button {
                font-size: 14px;
                padding: 10px;
            }
        }
